.Post {
    background: white;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: left;
  }
  
  .Post p {
    color: #252525;
    line-height: 200%;
  }