@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Wellfleet:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded:wght@400;500;600;700;800;900&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

   --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fed9d1 0.89%,
    #fccdbb 17.23%,
    #fbb694 42.04%,
    #f9926e 55.12%,
    #f26d49 71.54%,
    #e34625 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-orange-gradient {
  background: linear-gradient(
    157.81deg,
    #fed9d1 -43.27%,
    #fccdbb -21.24%,
    #fbb694 12.19%,
    #f9926e 29.82%,
    #f26d49 51.94%,
    #e34625 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}


.pink__gradient {
  background: linear-gradient(180deg, #fc0303 0%, #ff0000 100%);
  filter: blur(250px);
}

.orange__gradient {
  background: linear-gradient(180deg, rgb(254, 110, 0) 0%, #f79800 100%);
  filter: blur(250px);
}
.black__gradient {
  background: linear-gradient(180deg, rgba(0, 7, 19, 0.399) 0%, #00000066 100%);
  filter: blur(150px);
}


.yellow__gradient {
  background: rgb(249, 228, 0);
  filter: blur(450px);
}




.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
  color:#fffaef;
}
